/* components/Container.module.css */
.container {
  width: calc(100% - 40); /* 40px on each side */
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px; /* 40px padding on both sides */
  box-sizing: border-box;
}

/* For screens larger than 640px (sm) */
@media (min-width: 640px) {
  .container {
    max-width: calc(640px - 40);
    padding: 0 40px;
  }
}
@media (min-width: 360px) {
  .container {
    max-width: calc(640px - 20);
    padding: 0 20px;
  }
}

/* For screens larger than 768px (md) */
@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 40);
    padding: 0 40px;
  }
}

/* For screens larger than 1024px (lg) */
@media (min-width: 1024px) {
  .container {
    max-width: calc(1024px - 40);
    padding: 0 40px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: calc(1100px - 40);
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - 40);
    padding: 0 40px;
  }
}

/* For screens larger than 1240 (xl) */
@media (min-width: 1380) {
  .container {
    max-width: calc(1380 - 40);
    padding: 0 40px;
  }
}

/* For screens larger than 1536px (2xl) */
@media (min-width: 1536px) {
  .container {
    max-width: calc(1450px - 40);
    padding: 0 40px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1800px;
    padding: 0 40px;
  }
}